@import 'tailwindcss';

@theme {
	--color-gold-primary: #d4af37;
	--color-gold-light: #ffd700;
	--color-gold-dark: #b8860b;
	--color-panel-bg: #1a1a1a;

	--font-fantasy: 'Aniron', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

:root {
	--tp-base-background-color: hsla(0, 0%, 10%, 0.8);
	--tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
	--tp-button-background-color: hsla(0, 0%, 80%, 1);
	--tp-button-background-color-active: hsla(0, 0%, 100%, 1);
	--tp-button-background-color-focus: hsla(0, 0%, 90%, 1);
	--tp-button-foreground-color: hsla(0, 0%, 0%, 0.8);
	--tp-container-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-container-background-color-active: hsla(0, 0%, 0%, 0.6);
	--tp-container-background-color-focus: hsla(0, 0%, 0%, 0.5);
	--tp-container-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-groove-foreground-color: hsla(0, 0%, 0%, 0.2);
	--tp-input-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-input-background-color-active: hsla(0, 0%, 0%, 0.6);
	--tp-input-background-color-focus: hsla(0, 0%, 0%, 0.5);
	--tp-input-foreground-color: hsla(0, 0%, 100%, 0.8);
	--tp-label-foreground-color: hsla(0, 0%, 100%, 0.5);
	--tp-monitor-background-color: hsla(0, 0%, 0%, 0.3);
	--tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.3);
}

.tp-dfwv {
	z-index: 9999 !important;
}

@font-face {
	font-family: 'Aniron';
	src: url('/fonts/Aniron.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Aniron', sans-serif;
}
