@import 'tailwindcss';

@theme {
	--color-gold-primary: #d4af37;
	--color-gold-light: #ffd700;
	--color-gold-dark: #b8860b;
	--color-panel-bg: #1a1a1a;

	--font-fantasy: 'Aniron', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

@font-face {
	font-family: 'Aniron';
	src: url('/fonts/Aniron.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Aniron', sans-serif;
}
